
.camp-screen > .l-crafting-dialog-container
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 102.4rem;
	height: 76.8rem;
	position: absolute;
	margin: auto;
	z-index: 2;
}


.camp-screen > .l-crafting-dialog-container .l-tab-container
{
	top: -1.0rem;
	left: 0;
	right: 0;
	bottom: 0;
	width: 88.0rem;
	height: 3.0rem;
	position: absolute;
	margin: auto;
}

.camp-screen > .l-crafting-dialog-container .l-tab-asset
{
	top: 0;
	bottom: 0;
	width: 13.0rem;
	height: 4.3rem;
	position: absolute;
}

.camp-screen > .l-crafting-dialog-container .l-tab-asset.is-time-required
{
	left: 30.0rem;
}

.camp-screen > .l-crafting-dialog-container .l-tab-asset.is-brothers
{
	left: 75.0rem;
	width: 9.8rem;
}

.camp-screen > .l-crafting-dialog-container .l-tab-asset img
{
	top: 0;
	bottom: 0;
	left: 0;
	width: 2.8rem;
	height: 2.8rem;
	margin: auto;
	margin-left: 1.0rem;
	position: absolute;
}

.camp-screen > .l-crafting-dialog-container .l-tab-asset .label
{
	top: 0;
	bottom: 0;
	left: 3.4rem;
	width: 11.2rem;
	height: 3.0rem;
	margin: auto;
	margin-left: 1.0rem;
	position: absolute;

	text-align : left;
	line-height: 3.0rem;
}


.camp-screen > .l-crafting-dialog-container .content > .column
{
	width: 50%;
	height: 100%;
	padding-top: 0.9rem;
	padding-bottom: 0.9rem;
	position: relative;
	float : left;

	background-image: url("coui://gfx/ui/skin/dialog_panel_01.png");
	background-size: 50.8rem 56.8rem;
	background-repeat: no-repeat;
}

.camp-screen > .l-crafting-dialog-container .content > .column.is-left
{
	padding-left: 1.0rem;
	padding-right: 1.6rem;
	padding-bottom: 3.5rem;
}

.camp-screen > .l-crafting-dialog-container .content > .column.is-right
{
	padding-left: 0.5rem;
	padding-right: 1.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .l-list-container
{
	width: 100%;
	height: calc(90% - 4rem);
}

/* disable font shadow */
.camp-screen > .l-crafting-dialog-container .content .l-list-container .ui-control.list .list-entry.is-selected
{
	text-shadow: 1px 1px 1px #000;
}

.camp-screen > .l-crafting-dialog-container .content .l-list-container .ui-control.list .list-entry .column.is-left .amount-layer
{
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0.4rem;
	z-index: 3;

	pointer-events: none;
}

.camp-screen > .l-crafting-dialog-container .content .l-list-container .ui-control.list .list-entry .column.is-left .amount-layer .label
{
	left: 2.4rem;
	right: 0;
	bottom: 3.2rem;
	height: 1.2rem;
	position: absolute;

	text-align: left;
	line-height: 1.2rem;

	pointer-events: none;
}

.camp-screen > .l-crafting-dialog-container .content .l-list-container .scroll-container
{
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}

.camp-screen > .l-crafting-dialog-container .content .scroll-container .l-row
{
	width: 46.5rem;
	height: 10.7rem;
	position: relative;
	margin-bottom: -0.1rem;
	margin-left: 1.0rem;

	overflow: hidden;
}

.camp-screen > .l-crafting-dialog-container .content .scroll-container .l-row:last-child
{
	margin-bottom: 0;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .column
{
	height: 100%;
	position: absolute;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .column.is-left
{
	top: 0;
	left: 0;
	width: 9.0rem;
	z-index: 2;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .column.is-left > img
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	margin: auto;

	display: block;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .column.is-right
{
	top: 0;
	left: 9.0rem;
	right: 0;
	z-index: 1;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row
{
	left: 0;
	right: 1.0rem;
	position: absolute;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-top
{
	top: 1.0rem;
	height: 3.8rem;

	width: 92%;

	border-image: url("coui://gfx/ui/skin/line_metal.png") 0% 0% 100% 0%;
	border-image-outset: 0 0 -0.5rem 0;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-top > img
{
	left: 0;
	bottom: 0.2rem;
	width: 2.6rem;
	height: 2.6rem;
	position: absolute;

	display: block;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-top .name
{
	left: 0.0rem;
	/*right: 6.0rem;*/
	bottom: 0.2rem;
	height: 2.6rem;
	position: absolute;
	overflow: hidden;

	line-height: 3.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-bottom
{
	top: 5.3rem;
	bottom: 0;
	width: 100%;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-bottom > .icons-container
{
	position: relative;
	float: left;
	width: 3.2rem;
	height: 3.2rem;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-bottom .icons-container > img
{
	position: absolute;
	left: 0;
	top: 0;
	width: 3.2rem;
	height: 3.2rem;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-bottom .icons-container > .component-overlay
{
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	width: 3.2rem;
	height: 3.2rem;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-bottom .icons-container .amount-layer
{
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0.4rem;
	z-index: 3;

	pointer-events: none;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-bottom .icons-container .amount-layer .label
{
	left: 0.1rem;
	right: 0;
	bottom: -0.1rem;
	height: 1.2rem;
	position: absolute;

	text-align: left;
	line-height: 1.2rem;

	pointer-events: none;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-bottom .l-assets-center-container
{
	top: 0;
	left: 3.0rem;
	right: 0;
	bottom: 0;
	width: 21.0rem;
	height: 3.0rem;
	position: absolute;
	margin: auto;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-bottom .l-assets-container
{
	width: 10.0rem;
	height: 3.0rem;
	position: relative;
	float: left;
	margin-right: 1.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-bottom .l-assets-container:last-child
{
	margin-right: 0;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-bottom .l-assets-container img
{
	top: 0;
	bottom: 0;
	left: 0;
	width: 2.8rem;
	height: 2.8rem;
	margin: auto;
	position: absolute;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-bottom .l-assets-container .label
{
	top: 0;
	bottom: 0;
	left: 3.4rem;
	width: 6.0rem;
	height: 3.0rem;
	margin: auto;
	position: absolute;

	text-align : left;
	line-height: 3.4rem;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-top .l-level-container
{
	right: -2.0rem;
	width: 6.0rem;
	height: 100%;
	position: absolute;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-top .l-level-container img
{
	left: 0;
	bottom: 0.1rem;
	width: 2.6rem;
	height: 2.6rem;
	position: absolute;

	display: block;
}

.camp-screen > .l-crafting-dialog-container .content .l-row .row.is-top .l-level-container > .level
{
	left: 3.0rem;
	right: 0;
	bottom: 0.2rem;
	height: 2.6rem;
	position: absolute;

	line-height: 3.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .l-details-frame
{
	width: 100%;
	height: 100%;

	overflow: hidden;
	-webkit-mask-image: #fff; /* Bugfix for Chrome, as the absolute position breaks the overflow somehow..*/
}

.camp-screen > .l-crafting-dialog-container .content .details-container
{
	width: 100%;
	height: 100%;
	position: relative;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .column
{
	top: 0;
	height: 100%;
	position: absolute;
}

.camp-screen > .l-crafting-dialog-container .content .details-container > .row
{
	left: 0;
	right: 0;
	position: absolute;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-character-container
{
	top: 0;
	left: 0;
	height: 39.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-character-container > .row
{
	left: 1.0rem;
	right: 1.0rem;
	position: absolute;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-character-container > .row.is-header
{
	top: 0;
	height: 4.0rem;

	border-image: url("coui://gfx/ui/skin/line_metal.png") 0% 0% 100% 0%;
	border-image-outset: 0 0 -0.5rem 0;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-character-container > .row.is-header .label
{
	top: 1.0rem;
	left: 1.0rem;
	height: 3.0rem;
	position: absolute;

	text-align: left;
	line-height: 3.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-queue-container
{
	top: 5.0;
	height: 20.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-queue-container > .l-list-container
{
	top: 4.0rem;
	left: 2.0rem;
	right: 2.0rem;
	position: absolute;

	width: 40.0rem;
	height: 20.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-queue-container > .l-list-container .scroll-container
{
	margin-bottom: 0.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-ingredients-container
{
	top: 25.0rem;
	height: 20.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-ingredients-container > .row
{
	left: 1.0rem;
	right: 1.0rem;
	position: absolute;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-ingredients-container > .row.is-header
{
	top: 0;
	height: 4.0rem;

	border-image: url("coui://gfx/ui/skin/line_metal.png") 0% 0% 100% 0%;
	border-image-outset: 0 0 -0.5rem 0;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-ingredients-container > .row.is-header .label
{
	top: 1.0rem;
	left: 1.0rem;
	height: 3.0rem;
	position: absolute;

	text-align: left;
	line-height: 3.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-ingredients-container > .is-components-container
{
	top: 5.0rem;
	left: 2.0rem;
	right: 2.0rem;
	position: absolute;

	width: 45.0rem;
	height: 20.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-ingredients-container .is-components-container > .icons-container
{
	position: relative;
	float: left;
	width: 6.3rem;
	height: 6.3rem;
	margin: 0.5rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-ingredients-container .is-components-container .icons-container .amount-layer
{
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0.4rem;
	z-index: 3;

	pointer-events: none;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-ingredients-container .is-components-container .icons-container .amount-layer .label
{
	left: 0.2rem;
	right: 0;
	bottom: -0.4rem;
	height: 1.2rem;
	position: absolute;

	text-align: left;
	line-height: 1.2rem;

	pointer-events: none;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-ingredients-container .is-components-container .icons-container > img
{
	position: absolute;
	left: 0;
	top: 0;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-ingredients-container .is-components-container .icons-container > .component-overlay
{
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
}



.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-costs-container
{
	top: 41.0rem;
	height: 8.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-costs-container > .row
{
	left: 1.0rem;
	right: 1.0rem;
	position: absolute;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-costs-container > .row.is-header
{
	top: 0;
	height: 4.0rem;

	border-image: url("coui://gfx/ui/skin/line_metal.png") 0% 0% 100% 0%;
	border-image-outset: 0 0 -0.5rem 0;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-costs-container > .row.is-header .label
{
	top: 1.0rem;
	left: 1.0rem;
	height: 3.0rem;
	position: absolute;

	text-align: left;
	line-height: 3.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-costs-container > .row.is-initial-costs
{
	top: 4.0rem;
	left: 3.0rem;
	height: 4.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-costs-container > .row.is-daily-costs
{
	top: 8.0rem;
	left: 3.0rem;
	height: 4.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-costs-container > .row .costs-label
{
	top: 0;
	left: 0;
	bottom: 0;
	width: 10.0rem;
	height: 3.0rem;
	position: absolute;
	margin: auto;

	text-align: left;
	line-height: 3.2rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-costs-container > .row .variant-label
{
	top: 0;
	left: 11.0rem;
	bottom: 0;
	width: 10.0rem;
	height: 3.0rem;
	position: absolute;
	margin: auto;

	text-align: left;
	line-height: 3.2rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-costs-container > .row .variant-input
{
	top: 1px;
	left: 20.5rem; /*4.5rem*/
	width: 12.4rem;
	height: 2.8rem;
	position: absolute;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-costs-container > .row .l-costs-container
{
	top: 0;
	left: 10.9rem;
	bottom: 0;
	width: 16.0rem;
	height: 3.0rem;
	position: absolute;
	margin: auto;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-costs-container > .row .l-costs-container.is-second
{
	left: 27.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-costs-container > .row .l-costs-container img
{
	top: 0;
	bottom: 0;
	left: 0;
	width: 2.8rem;
	height: 2.8rem;
	margin: auto;
	position: absolute;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-costs-container > .row .l-costs-container .label
{
	top: 0;
	bottom: 0;
	left: 3.4rem;
	width: 6.0rem;
	height: 3.0rem;
	margin: auto;
	position: absolute;

	text-align : left;
	line-height: 3.4rem;
}


.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-button-container
{
	top: 49.0rem;
	left: 1.0rem;
	right: 1.0rem;
	height: 6.0rem;

	border-image: url("coui://gfx/ui/skin/line_metal.png") 100% 0% 0% 0%;
	border-image-outset: 0 0 0 0;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-button-container .l-hire-button
{
	top: 0;
	left: -20.0rem;
	right: 0;
	bottom: 0;
	width: 17.0rem;
	height: 4.3rem;
	position: absolute;
	margin: auto;

	line-height: 3.0rem;
}

.camp-screen > .l-crafting-dialog-container .content .details-container .row.is-button-container .l-craft-forever-button
{
	top: 0;
	left: 20.0rem;
	right: 0;
	bottom: 0;
	width: 17.0rem;
	height: 4.3rem;
	position: absolute;
	margin: auto;

	line-height: 3.0rem;
}


.camp-screen > .l-crafting-dialog-container .footer .l-button-bar
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 16.0rem;
	height: 4.3rem;
	position: absolute;
	margin: auto;
}

.camp-screen > .l-crafting-dialog-container .footer .l-leave-button
{
	top: 0;
	right: 0;
	bottom: 0;
	width: 17.5rem;
	position: absolute;

	line-height: 3.0rem;
}

.camp-screen > .l-crafting-dialog-container .is-explanation
{
	position: absolute;

	top: 6.0rem;
	left: 13.0rem;
	right: 1.0rem;
}

.camp-screen > .l-crafting-dialog-container .is-injury-list
{
	position: absolute;

	top: 24.0rem;
	left: 1.0rem;
	right: 1.0rem;
	bottom: 1.0rem;
}

.camp-screen > .l-crafting-dialog-container .is-injury-row
{
	position: relative;
	width: 100%;
}

.camp-screen > .l-crafting-dialog-container .is-injury-row .is-icon
{
	position: absolute;
	left: 0;
}

.camp-screen > .l-crafting-dialog-container .is-injury-row .is-name
{
	position: absolute;
	top: 1.7rem;
	left: 7.0rem;
}

.camp-screen > .l-crafting-dialog-container .is-injury-row .is-button
{
	position: absolute;
	top: 0.8rem;
	right: 2.0rem;

	height: 4.3rem;
	width: 17.5rem;
	line-height: 3.0rem;
}

.camp-screen > .l-crafting-dialog-container .is-injury-row .is-price
{
	position: absolute;
	margin-top: 0.4rem;
	text-align : center;
	width: 100%;
}

.camp-screen > .l-crafting-dialog-container .is-injury-row .is-price-ffs
{
	text-align : center;
}

.camp-screen > .l-crafting-dialog-container .is-no-craftables-hint
{
	position: absolute;
	z-index: 5;

	top: 28.0rem;
	left: 3.5rem;
}

.camp-screen .filter-panel
{
	width: 50%;
	margin-top : 0.5rem;
	margin-left: 1.5rem;
	height: 4.2rem;
	z-index: 10;
}

.camp-screen .filter-panel .l-button
{
	width: 5.2rem;
	height: 4.1rem;
	position: absolute;

	line-height: 2.6rem;
}

.camp-screen .filter-panel .l-button.is-all-filter
{
	left: 5.0rem;
}

.camp-screen .filter-panel .l-button.is-weapons-filter
{
	left: 10.0rem;
}

.camp-screen .filter-panel .l-button.is-armor-filter
{
	left: 15.0rem;
}

.camp-screen .filter-panel .l-button.is-usable-filter
{
	left: 20.0rem;
}

.camp-screen .filter-panel .l-button.is-misc-filter
{
	left: 25.0rem;
}

.camp-screen > .l-crafting-dialog-container .ui-control .list .scroll-container .item > .amount-layer
{
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0.4rem;
	z-index: 3;

	pointer-events: none;
}

.camp-screen > .l-crafting-dialog-container .ui-control .list .scroll-container .item > .amount-layer .label
{
	left: 0.5rem;
	right: 0;
	bottom: 0.4rem;
	height: 1.2rem;
	position: absolute;

	text-align: left;
	line-height: 1.2rem;

	pointer-events: none;
}

.camp-screen .ui-control .list .scroll-container .item > .infinity-layer
{
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0.4rem;
	z-index: 3;

	pointer-events: none;
}

.camp-screen .ui-control .list .scroll-container .item > .infinity-layer img
{
	left: 4.4rem;
	bottom: 5.5rem;
	width: 2.7rem;
	height: 1.8rem;
	position: absolute;

	pointer-events: none;
}

.camp-screen .ui-control .list .scroll-container .item > .infinity-layer .label
{
	left: 0;
	right: 1.7rem;
	bottom: 5.5rem;
	height: 2.8rem;
	position: absolute;

	text-align: right;
	line-height: 2.8rem;

	pointer-events: none;
}

.camp-screen .page-bar-row
{
	width: 100%;
	height: 4.0rem;
	bottom: 4rem;
}

.camp-screen .page-bar-row > .l-search-result-page-bar
{
	background-color: "#ff0000";
	width: 100%;
	height: 4.0rem;
	right: 0.5rem;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.camp-screen .page-bar-row > .l-search-result-page-bar .l-flex-button-39-39
{
	width: 3.9rem;
	height: 3.9rem;
	flex: 0 0 auto;
}
