
.camp-screen > .l-fletcher-dialog-container
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 102.4rem;
	height: 76.8rem;
	position: absolute;
	margin: auto;
	z-index: 2;
}


.camp-screen > .l-fletcher-dialog-container .l-tab-container
{
	top: -1.0rem;
	left: 0;
	right: 0;
	bottom: 0;
	width: 88.0rem;
	height: 3.0rem;
	position: absolute;
	margin: auto;
}

.camp-screen > .l-fletcher-dialog-container .footer .l-button-bar
{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 16.0rem;
	height: 4.3rem;
	position: absolute;
	margin: auto;
}

.camp-screen > .l-fletcher-dialog-container .footer .l-leave-button
{
	top: 0;
	right: 0;
	bottom: 0;
	width: 17.5rem;
	position: absolute;

	line-height: 3.0rem;
}